In [17]:
# importing libraries and loading dataset
from sklearn.neighbors import DistanceMetric
from math import radians
import pandas as pd
import numpy as np
df = pd.read_excel("IEE 574.xlsx")
df.head()

,School Name,Adrress,Latitude,Longitude
0,Heritage Elementary School,"6805 N. 125th Ave. Glendale, AZ 85307",33.532818,-112.328092
1,Copper Canyon High School,"9126 W Camelback Glendale, AZ 85305",33.511995,-112.256986
2,Carol G. Peck Elementary School,"5810 North 49th Avenue Glendale, AZ 85301",33.522687,-112.164453
3,Desert Mirage Elementary School,"8605 W. Maryland Glendale, AZ 85305",33.528722,-112.243897
4,Sonoran Sky Elementary School,"10150 W. Missouri Ave Glendale, AZ 85307",33.515519,-112.278767

In [18]:
#converting Latitude and Logitude degree data to radians
df['Latitude'] = np.radians(df['Latitude'])
df['Longitude'] = np.radians(df['Longitude'])
df.head()

,School Name,Adrress,Latitude,Longitude
0,Heritage Elementary School,"6805 N. 125th Ave. Glendale, AZ 85307",0.585258,-1.960495
1,Copper Canyon High School,"9126 W Camelback Glendale, AZ 85305",0.584895,-1.959254
2,Carol G. Peck Elementary School,"5810 North 49th Avenue Glendale, AZ 85301",0.585081,-1.957639
3,Desert Mirage Elementary School,"8605 W. Maryland Glendale, AZ 85305",0.585187,-1.959026
4,Sonoran Sky Elementary School,"10150 W. Missouri Ave Glendale, AZ 85307",0.584956,-1.959634

In [19]:
# using built in function to find distance in KM unit by Haversine formula

dist = DistanceMetric.get_metric('haversine')
df1 =  dist.pairwise(df[['Latitude','Longitude']].to_numpy())*6373

# creating the dataframe 
df2 = pd.DataFrame(data = df1) 
  
# displaying the dataframe 
df2

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,0.000000,6.988477,15.214898,7.819788,4.961973,8.081689,10.796149,17.925717,15.363108,15.029256,...,14.883065,14.094062,13.601792,13.601792,14.883065,13.089959,13.096003,13.096003,14.883065,12.277968
1,6.988477,0.000000,8.663051,2.221436,2.057597,1.348363,5.096479,15.351949,11.413703,11.879974,...,8.929631,7.458468,9.776372,9.776372,8.929631,6.751294,7.805437,7.805437,8.929631,11.383177
2,15.214898,8.663051,0.000000,7.397031,10.630599,7.347556,4.714817,12.248706,7.610411,9.191564,...,2.249156,1.233635,7.193732,7.193732,2.249156,2.195751,4.103035,4.103035,2.249156,12.085274
3,7.819788,2.221436,7.397031,0.000000,3.551350,1.410010,3.151893,13.136415,9.213749,9.659192,...,7.206277,6.296759,7.560419,7.560419,7.206277,5.275642,5.781461,5.781461,7.206277,9.392692
4,4.961973,2.057597,10.630599,3.551350,0.000000,3.290863,6.696701,16.115728,12.549281,12.758861,...,10.705990,9.445287,10.827667,10.827667,10.705990,8.635283,9.327667,9.327667,10.705990,11.510016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,13.089959,6.751294,2.195751,5.275642,8.635283,5.406180,2.526892,11.576034,6.902972,8.230193,...,2.348980,1.424335,6.015922,6.015922,2.348980,0.000000,2.749188,2.749188,2.348980,10.454201
102,13.096003,7.805437,4.103035,5.781461,9.327667,6.524525,2.713385,8.870379,4.241540,5.484588,...,2.281139,3.982639,3.270893,3.270893,2.281139,2.749188,0.000000,0.000000,2.281139,7.982249
103,13.096003,7.805437,4.103035,5.781461,9.327667,6.524525,2.713385,8.870379,4.241540,5.484588,...,2.281139,3.982639,3.270893,3.270893,2.281139,2.749188,0.000000,0.000000,2.281139,7.982249
104,14.883065,8.929631,2.249156,7.206277,10.705990,7.583344,4.094437,10.004415,5.361447,6.959205,...,0.000000,2.764012,5.040353,5.040353,0.000000,2.348980,2.281139,2.281139,0.000000,10.099250
105,12.277968,11.383177,12.085274,9.392692,11.510016,10.795526,8.648098,6.050205,6.076119,4.565028,...,10.099250,11.839504,5.231181,5.231181,10.099250,10.454201,7.982249,7.982249,10.099250,0.000000

In [20]:
# dataframe to CSV file
df2.to_csv("DistanceMatrix.csv")

In [21]:
import mpu

# Point one
lat1 = 33.532818
lon1 = -112.3280917

# Point two
lat2 = 33.511995
lon2 =-112.2569865

# What you were looking for
dist = mpu.haversine_distance((lat1, lon1), (lat2, lon2))
print(dist)  # gives 278.45817507541943.

6.9862896516837365

In [22]:
import geopy.distance

coords_1 = (33.532818, -112.3280917)
coords_2 = (33.511995,-112.2569865 )

geopy.distance.geodesic(coords_1, coords_2).km

6.997689122879062